/build/

__pycache__
*.__pycache__
.vscode
*.pyc
.DS_Store

#Controller Data
src/controllers/neural_mpc_controller_util/nn_prediction/models/*
src/controllers/neural_mpc_controller_util/nn_prediction/training/data/*
training_data.csv
