# scipy
svgpathtools
pygame==2.0.1
matplotlib
numpy
argparse
argcomplete
opencv-python
# numba # not using now
cython # cython needs to be compiled using setup.py
scipy
upnpy
pandas
pysindy
torch # go to https://pytorch.org/get-started/locally/ for correct pip or conda command generator
IPython
cvxpy